.Normal_text {font-family:Arial;font-weight:normal;font-style:normal;font-size:13px;text-decoration:none;color:#000000;letter-spacing:0.0em;}
.Bodytext {font-family:Comic Sans MS;font-size:14px;color:#000000;}
.Section_header {font-size:18px;color:#5B772E;}
.Page_title {font-size:24px;color:#5B772E;}
.Heading_1 {font-family:Arial;font-weight:bold;font-style:normal;font-size:24px;text-decoration:none;color:#000000;letter-spacing:0.0em;}
.Heading_3 {font-family:Arial;font-weight:bold;font-style:normal;font-size:16px;text-decoration:none;color:#000000;letter-spacing:0.0em;}
.Heading_2 {font-family:Arial;font-weight:bold;font-style:normal;font-size:18px;text-decoration:none;color:#000000;letter-spacing:0.0em;}
